/* Typography: Playfair Display and Poppins - both in 3 weights: Regular 400, Medium 500, and Bold 700
font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;
*/

:root {
  --teal-100: #e5f0f1;
  --teal-200: #99c4c8;
  --teal-300: #4c989f;
  --teal-400: #006d77;
  --teal-500: #004c53;
  --teal-600: #002b2f;
  --text-color: #162526;
  --gray-300: #a7a7a7;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif;
  font-weight: 700;
}

h1 {
  font-size: 64px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 32px;
}

p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

a {
  transition: ease-in-out 250ms;
}

.hero {
  background: var(--teal-100);
  text-align: center;
  padding: 200px 0;
}

.hero p {
  font-size: 24px;
}

.btn-custom-primary {
  background: var(--teal-400);
  color: white;
  padding: 16px 32px;
}

.btn-custom-primary:hover {
  background: var(--teal-300);
  color: white;
}

.btn-custom-secondary {
  color: var(--teal-400);
  border: 1px solid var(--teal-400);
  padding: 16px 24px;
}

.btn-custom-secondary:hover {
  color: var(--teal-400);
  background: var(--teal-100);
}

.btn-custom-disabled {
  color: white;
  background: var(--gray-300);
  padding: 16px 24px;
}

.btn-custom-disabled:hover {
  color: white;
  cursor: not-allowed;
}

.body-content {
  padding: 150px 0;
}

.project-description {
  opacity: 75%;
}

@media (max-width: 768px) {
  h1 {
    font-size: 56px;
  }

  h2 {
    font-size: 40px;
  }
}
